DATABASE_URL="your-database-url-here"
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:3000"
OPENROUTER_API_KEY="your-api-key-here"

# Email (Resend API)
RESEND_API_KEY=
EMAIL_FROM=ChatBox <onboarding@resend.dev>
NEXT_PUBLIC_APP_NAME="Techy Tharun's Chatbox"
